*{
    padding: 0%;
margin: 0;
box-sizing: border-box;
font-family: "Open Sans", Arial, sans-serif;
}
body{
    width: 70vw;
    margin: auto;
}
.profile{
    border-radius: 100px;
    height: 150px;
    width: 150px;

    align-self: center;
    justify-self: center;
    grid-row: 1 / span 3

}
header{
    padding-top: 50px;

    margin: auto;

}
.container{
    padding: 50px 0 50px 0;
    display:grid;

    grid-template-columns: 1fr 2fr ;

}
main{

    margin: auto;
}
img{
    height: 300px;
    width: 100%;


}
.user{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.list{
    padding: 0 30px 0 30px;
    grid-column: 2/ 3;
    grid-row: 2 / 3;
}
p{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}



button{

    padding: 3px 20px 3px 20px;
    background: none;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(194, 192, 192);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.setting{
    font-size: 25px;
    cursor: pointer;
}
.user>p{
    font-size: 35px;
}
.user{
    display: flex;
   align-items: center;

}
.user *{
    margin: 10px;
}

.list>ul{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin: 20px;
    justify-items: center;

}
ul>li{
    list-style: none;
    cursor: pointer;



}


.gallary{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: 20px ;
    justify-content: center;





}

.img{
    position: relative;
    cursor: pointer;


}
.icons,.album{
    position: absolute;
    top: 10px;
        right:10px;
   color: white;
   font-size: 30px;

}
.album{
    transform: rotate(180deg);

}
.like,.comment{


   display: none;
}

.img:hover img {
	opacity: .5;
}

.img:hover .like{
display: block;
color: white;
font-size: 30px;
position: absolute;
top: 50%;
right: 55%;
}
.img:hover .comment{
    display: block;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 40%;

}



@media screen and (max-width:400px) {
.gallary{
    /* grid-template-columns: repeat(2, 1fr);
    gap:50px */
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-auto-rows: auto;
        place-items: center;
        gap: 20px;
}
body{
    margin: 10px;
    width: 100%;
}
header{
    width: 100%;
    padding: 0;
    margin: 10px;

}  .profile{
    height: 100px;
    width: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
   }
  .list{
grid-row:4/5;
grid-column: 1/3;
margin: auto;
padding: 0;
border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    justify-items:center ;


   }

   ul>li{
    margin-right: 40px;

   }
   .user{
    flex-wrap: wrap;

   }
  .setting{
    order: 2;
  }
  button{
    order:3;
    flex-grow: 1;
  }

p{
    grid-row:3/4;
    grid-column: 1/3;
}}







@media screen and (max-width:220px) {
    .gallary{
        grid-template-columns:1fr ;
        grid-auto-rows: auto;
        place-items: center;
    }
    body{
        margin: 10px;
        
    }
    header{
        /* width: 100%; */
        padding: 0;
        margin: 10px;

    }
    .profile{
        height: 75px;
        width: 75px;
}
.user>p{
    font-size:20px ;
}
.setting{
    font-size: 15px;
}
}

